---
import Navegacio from '../components/Navegacio.astro';
import Layout from '../layouts/Layout.astro'; 
import Peu from '../components/Peu.astro'; 
import Titol from '../components/Titol.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="w-[700px]">
		<Navegacio />
		<Titol title="Contact." />
		<Peu />
	</div>	
</Layout>
