---
import Navegacio from '../components/Navegacio.astro';
import Layout from '../layouts/Layout.astro'; 
import Peu from '../components/Peu.astro'; 
import Titol from '../components/Titol.astro';
import cvData from '../data/cv.json';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="flex flex-col items-center">
		
	<div class="w-[700px]">
		<Navegacio />

		<Titol title="Skills" />

	</div>

	<div class="w-[1000px] mt-8 grid grid-cols-2 gap-4">
		
		
		{cvData.skills.map((skill, index) => (
			<span key={index} class="bg-gray-100 text-center text-white text-lg font-medium me-4 px-6 py-2 rounded-2xl dark:bg-gray-800 dark:text-white border border-gray-500">
				{skill}
			</span>
		))}
	</div>




		<Peu />
	</div>

</Layout>
