---
import "../styles/global.css";
---

	

<nav class="mt-20 text-[20px] flex justify-between font-mono"  >

	<a href="/" class="font-bold">sl</a>
	<div class="flex gap-8 ">
	
	<a href="informacio"  >Information</a>
	<a href="skills" >Skills</a>
	<a href="contactes" >Contact</a>
</div>
</nav>

