---
import "../styles/global.css";
interface Props {
    title : string;
    subtitle : string;
    image : string;
}
const {title ="TITULO DEFECTUOSO",
 subtitle="SUBTITULO DEFECTUOSO", 
 image="https://media.istockphoto.com/id/1314797892/es/foto/obesidad-peso-poco-saludable-nutricionista-inspeccionando-la-cintura-de-una-mujer-usando-una.jpg?s=612x612&w=0&k=20&c=q3U1RRT3K2ikpHEl988lZGC7Lj0JAOs1_F38yrZuKIw="} = Astro.props;

---

    <div class="flex justify-center items-center">
        <div class="bg-gray-100 p-6 m-4 rounded-xl">
            <picture>
                <source srcset={image} type="image/webp" />
                <img src={image} alt="projecte" class="w-[600px] h-[240px] object-cover rounded-lg" />
            </picture>
            <a class="block text-lg font-serif font-bold mt-2">{title}</a>
            <a class="block text-[10px] font-serif text-gray-700 mb-10">{subtitle}</a>
        </div>
    </div>
